@font-face {
  font-family: "Hanken Grotesk";
  src: url("../assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("../assets/fonts/static/HankenGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("../assets/fonts/static/HankenGrotesk-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("../assets/fonts/static/HankenGrotesk-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Base color palette */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-navy-950: #303b59;
  --color-navy-200: #cac9ff;
  --color-navy-50: #4f5d87;
  --color-blue-800: #1125d6;
  --color-blue-50: #f3f4fd;
  --color-yellow-400: #ffb21e;
  --color-yellow-50: #fffbf4;
  --color-red-400: #ff5555;
  --color-red-50: #fff6f6;
  --color-green-500: #00bb8f;
  --color-green-50: #f2fcf9;

  /* Gradients */
  --gradient-1: linear-gradient(180deg, #4d21c9 0%, #2521c9 100%);
  --gradient-2: linear-gradient(180deg, #7755ff 0%, #2f2ce9 100%);

  /* Spacing */
  --spacing-0: 0rem; /* 0px */
  --spacing-100: 0.5rem; /* 8px */
  --spacing-200: 1rem; /* 16px */
  --spacing-300: 1.5rem; /* 24px */
  --spacing-400: 2rem; /* 32px */
  --spacing-1000: 5rem; /* 80px */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  background-color: var(--color-white);
  line-height: 1.6;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* Result Section */
.result {
  background: var(--gradient-2);
  border-radius: 0 0 var(--spacing-400) var(--spacing-400);
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1); /* 0 4px 6px */
  padding: var(--spacing-400) 3.59375rem; /* 32px 57.5px */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.result > h1 {
  color: var(--color-navy-200);
  font-size: 1.125rem; /* 18px */
  font-weight: 700;
  margin-bottom: var(--spacing-300);
}

.circle {
  width: 8.75rem; /* 140px */
  height: 8.75rem; /* 140px */
  background: linear-gradient(
    180deg,
    hsla(256, 72%, 46%, 1) 0%,
    hsla(241, 72%, 46%, 0) 100%
  );
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--spacing-300);
}

.circle .score {
  color: var(--color-white);
  font-size: 3.5rem; /* 56px */
  font-weight: 900;
  line-height: 100%;
}

.circle .total {
  color: var(--color-navy-200);
  font-size: 1rem; /* 16px */
  font-weight: 700;
}

.result h2 {
  color: var(--color-white);
  font-size: 1.5rem; /* 24px */
  font-weight: 700;
  margin-bottom: var(--spacing-100);
}

.result p {
  color: var(--color-navy-200);
  font-size: 1rem; /* 16px */
  max-width: 16.25rem; /* 260px */
  font-weight: 500;
  line-height: 130%;
}

/* Summary Section */
.summary {
  padding: var(--spacing-300) 1.875rem; /* 24px 30px */
  margin-top: -0.5rem; /* -8px */
  max-width: 100%;
  width: 100%;
}

.summary h2 {
  color: var(--color-navy-950);
  font-size: 1.125rem; /* 18px */
  font-weight: 700;
  margin-bottom: var(--spacing-300);
}

.summary-items {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
  margin-bottom: var(--spacing-300);
}

.summary-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-200);
  border-radius: var(--spacing-100);
}

.summary-item.reaction {
  background-color: var(--color-red-50);
}

.summary-item.memory {
  background-color: var(--color-yellow-50);
}

.summary-item.verbal {
  background-color: var(--color-green-50);
}

.summary-item.visual {
  background-color: var(--color-blue-50);
}

.summary-item.reaction .item-label,
.summary-item.memory .item-label,
.summary-item.verbal .item-label,
.summary-item.visual .item-label {
  display: flex;
  align-items: center;
  gap: var(--spacing-100);
}

.summary-item.reaction .item-label span {
  color: var(--color-red-400);
  font-weight: 500;
}

.summary-item.memory .item-label span {
  color: var(--color-yellow-400);
  font-weight: 500;
}

.summary-item.verbal .item-label span {
  color: var(--color-green-500);
  font-weight: 500;
}

.summary-item.visual .item-label span {
  color: var(--color-blue-800);
  font-weight: 500;
}

.item-score {
  color: var(--color-navy-950);
  font-size: 1rem; /* 16px */
  font-weight: 700;
  opacity: 1;
}

.item-score::after {
  content: " / 100";
  opacity: 0.5;
}

.continue-btn {
  width: 100%;
  padding: var(--spacing-200);
  background-color: var(--color-navy-950);
  color: var(--color-white);
  font-size: 1.125rem; /* 18px */
  font-weight: 700;
  border: none;
  border-radius: 8rem; /* 128px */
  cursor: pointer;
}

.continue-btn:hover {
  opacity: 0.8;
}

.continue-btn:active {
  background: var(--gradient-2);
}

/* Tablet 768px */

@media (min-width: 48rem) {
  body {
    background-color: var(--color-blue-50);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container {
    max-width: 42.875rem; /* 686px */
    width: 100%;
    flex-direction: row;
    box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.1); /* 0 8px 20px */
    border-radius: var(--spacing-400);
    overflow: hidden;
  }

  .result {
    border-radius: var(--spacing-400);
    padding: var(--spacing-400) 0; /* 32px */
    max-width: 21.125rem; /* 338px */
    width: 100%;
  }

  .result h1 {
    font-size: 1.25rem; /* 20px */
    margin-bottom: var(--spacing-400);
  }

  .circle {
    width: 12.5rem; /* 200px */
    height: 12.5rem; /* 200px */
    margin-bottom: var(--spacing-400);
  }

  .circle .score {
    font-size: 4.5rem; /* 72px */
  }
  .result h2 {
    font-size: 2rem; /* 32px */
    margin-bottom: var(--spacing-200);
    line-height: 130%;
  }

  .result p {
    font-size: 1.125rem; /* 18px */
    max-width: 12.5rem; /* 200px */
  }

  .summary {
    padding: 2.8125rem 2.5rem; /* 45px 40px */
  }

  .summary h2 {
    font-size: 1.5rem; /* 24px */
    margin-bottom: var(--spacing-400);
  }
}

/* Desktop 1440px */
@media (min-width: 90rem) {
  .container {
    max-width: 46rem; /* 736px */
  }

  .result {
    max-width: 23rem; /* 368px */
  }

  .result p {
    max-width: 16.25rem; /* 260px */
    width: 100%;
  }
}
